.filelist {
  margin: 20px 0;
}
.filelist__header {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(5, 1fr);
  background-color: antiquewhite;
  padding: 4px;
}
.filelist__name {
  grid-column-start: 2;
}
.filelist__status {
  grid-column-start: 5;
  justify-self: center;
}
.filelist__date {
  grid-column-start: 6;
  justify-self: center;
}
.filelist__size {
  grid-column-start: 7;
  justify-self: center;
}
.filelist > div:nth-child(2) {
  padding: 2px 3px;
}
.filelist > div:nth-child(2) > div:nth-child(2n) {
  background-color: rgba(148, 148, 148, 0.25);
}
.filelist > div:nth-child(2) > div:nth-child(2n+1) {
  background-color: rgba(148, 148, 148, 0.5);
}
.filelist > div:last-child {
  background-color: #ffffff;
}
.fileplate {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}
.nofiles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.file-enter-active {
  animation: file-enter 500ms forwards;
}
@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
